{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block title %}raDraDraD{% endblock %}

{% block content %}
    <div class="container" id="main">
        <div class="row" id="title">
            <h1>raDraDraD</h1>
        </div>
        <div class="row" id="added-today">
            <div class="col-lg-12">
                <h4><a href={{ url_for('new') }}>Concerts added today: {{ added_today }}</a></h4>
            </div>
        </div>
        <div class="row" id="concert-list">
            <div class="col-lg-12">
                {% if concerts %}
                    {% for day, concert_list in concerts.items() %}

                        <div id="{{ day|timestamp }}">
                            <h3 class="date-header">{{ day|display_date }}</h3>

                            {% for concert in concert_list %}

                                <div class="concert {{ loop.cycle('odd-concert', 'even-concert') }}">
                                    <div>{{ utils.icon('music') }}</div>
                                    {{ concert.headliner }} {% if concert.supports %}-
                                    <i>{{ concert.supports }}</i> {% endif %}<br>
                                    <a href="{{ concert.url }}" target="_blank"
                                       rel="noopener noreferrer">{{ concert.venue.name }}</a>  
				    {% if concert.cost %} - {{ concert.cost }}{% endif %} {% if concert.age %} - {{ concert.age }} {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <li>No concerts!</li>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
