.odd-concert {
    background: #CCCCCC;
}

.even-concert {
    background: #FFFFFF;
}

.date-header {
    text-align: center;
}

#added-today {
    text-align: right;
    color: red;
}

#title {
    text-align: center;
}